// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Roboto';
  font-weight: 300; 
}

.post-heading {
  padding-bottom: 50px; 
}

.post-contact {
  outline-style: solid; 
  padding: 10px 10px 10px 10px; 
  margin-left: 10px;
  margin-right: 10px; 
}

.post-info {
  padding-top: 50px; 
}

.post-description {
  text-align: center;
  padding-top: 30px; 
  padding-bottom: 30px; 
}

.index-post {
  margin: 10px;
}

[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.payment {
  padding-top: 20px; 
  text-align: center;
}