ul {
  list-style-type: none;
}

.setup-wrapper {
  text-align: center; 
  padding-top: 40px; 
}

.setup-form {
  width: 60%; 
  display: inline-block;  
}

.setup-button {
  color: black; 
  font-weight: 300; 
  padding-top: 60px;
}

.delete-form {
  padding-top: 40px;
}

.login-form {
  text-align: center; 
  padding-top: 30px; 
  padding-bottom: 30px;
}

.socialicon img {
  padding: 20px; 
}

.required:after {
  background-color: red;
}
